@import "include/_normalize";
@import "include/_base";
@import "include/_fancybox";


/**
 -----------------------------------------------------------------------------------
 TEMPLATES & ELEMENTOS GLOBAIS
 -----------------------------------------------------------------------------------
 */

header {
    background: rgba(192, 186, 180, .95);
    height: 84px;
    border-bottom: 1px solid #fff;
    margin: 55px 0 80px;
    position: relative;

    .logo {
        display: block;
        width: 330px;
        height: 115px;
        text-indent: -9990px;
        background: url('../img/logo.jpg') no-repeat center;
        position: absolute;
        top: -15px;
    }

    .idiomas {
        float: left;
        width: 50px;
        list-style-type: none;
        padding: 0;
        margin: 0 0 0 418px;
        a {
            width: 15px;
            height: 84px;
            display: block;
            text-indent: -9999px;
            transition: all .3s ease;
            float: left;
            &.idiomas-en {
                margin-right: 13px;
                background: url('../img/idiomas/en.png') no-repeat center;
                &:hover, &.active { background-image: url('../img/idiomas/en-hover.png'); }
            }
            &.idiomas-pt {
                background: url('../img/idiomas/pt.png') no-repeat center;
                &:hover, &.active { background-image: url('../img/idiomas/pt-hover.png'); }
            }
        }
    }

    nav.desktop {
        float: right;
        height: 84px;
        a {
            display: inline-block;
            height: 84px;
            line-height: 84px;
            color: @marrom;
            .zonapro(13px);
            text-decoration: none;
            text-transform: uppercase;
            margin-left: 40px;
            transition: all .3s ease;
            border-bottom: 3px solid transparent;
            &:hover, &.active {
                color: #fff;
                border-color: #fff;
            }
        }
    }

    .mobile { display: none; }

    @media @tablet {
        margin: 40px 0 55px;
        .centro { position: relative; }

        .logo {
            max-width: 285px;
            background-size: 100% auto;
        }

        .idiomas {
            position: absolute;
            right: 0;
            top: 68px;
        }

        nav.desktop {
            width: 50%;
            text-align: right;
            margin-top: 7px;

            a {
                height: auto;
                line-height: 2.5;
                margin-left: 10%;
                &:hover, &.active {
                    border: 0px solid transparent;
                }
            }
        }
    }

    @media @mobile {
        margin: 20px 0 85px;
        nav.desktop { display: none; }
        .logo {
            width: 270px;
            background-size: 100% auto;
            left: 50%;
            margin-left: -135px;
        }
        .idiomas {
            position: absolute;
            width: 100%;
            height: auto;
            margin: 0;
            left: 0;
            top: 100px;
            text-align: center;
            li {
                a { height: auto; }
                display: inline-block;
            }
        }
        .mobile {
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
            left: 0;
            top: 132px;
            text-align: center;
            .hamburger {
                width: 40px;
                height: 40px;
                border: 1px solid #fff;
                display: inline-block;
                text-indent: -9999px;
                background: url('../img/menu-mobile.png') no-repeat center @bege;
            }
            .mobile-menu-wrapper {
                display: none;
                width: 100%;
                position: absolute;
                top: 0;
                .mobile-menu {
                    display: block;
                    width: 32%;
                    min-width: 170px;
                    margin: 0 auto;
                    position: relative;
                    z-index: 90;
                    border: 1px solid #fff;
                    background: @marrom;
                    margin-bottom: 40px;
                    padding-bottom: 10px;
                    a {
                        &.fechar {
                            display: block;
                            width: 40px;
                            height: 40px;
                            margin: 0 auto;
                            text-indent: -9999px;
                            background: url('../img/projetos/botao-fechar.png') no-repeat center;
                            margin-bottom: 10px;
                            &:after { display: none; }
                        }
                        display: block;
                        text-align: center;
                        .zonapro(14px);
                        text-decoration: none;
                        text-transform: uppercase;
                        color: #fff;
                        padding: 0 20px;
                        line-height: 2;
                    }
                }
            }
        }
    }
}

footer {
    height: 86px;
    width: 100%;
    text-align: right;
    .zonapro(13px);
    margin: 65px 0;

    .centro {
        border: 1px solid #fff;
        border-right: 1px solid transparent;
    }

    p, a, nav a {
        height: 86px;
        line-height: 86px;
        display: inline-block;
        text-align: right;
        text-decoration: none;
        color: @marrom;
        transition: all .3s ease;
    }

    nav {
        display: inline-block;
        a {
            text-align: left;
            text-indent: -9999px;
            transition: background .3s ease;
            margin-left: 8px;
            &.twitter {
                width: 18px;
                background: url('../img/footer/twitter.png') no-repeat center;
                &:hover { background-image: url('../img/footer/twitter2.png'); }
            }
            &.facebook {
                width: 18px;
                background: url('../img/footer/facebook.png') no-repeat center;
                &:hover { background-image: url('../img/footer/facebook2.png'); }
            }
            &.instagram {
                width: 18px;
                background: url('../img/footer/instagram.png') no-repeat center;
                &:hover { background-image: url('../img/footer/instagram2.png'); }
            }
            &.linkedin {
                width: 18px;
                background: url('../img/footer/linkedin.png') no-repeat center;
                &:hover { background-image: url('../img/footer/linkedin2.png'); }
            }
        }
    }

    a.footer-email {
        margin-left: 60px;
        &:hover { color: #fff; }
    }

    p.footer-tel {
        margin: 0 0 0 60px;
        padding: 0;
        cursor: default;
    }

    &.home {
        margin: 0;
        position: absolute;
        bottom: 10px;

        .centro { border: 0; }

        p, a, nav a { color: #fff; }

        a.footer-email:hover { color: @marrom; }

        nav a {
            &.twitter {
                background: url('../img/footer/twitter2.png') no-repeat center;
                &:hover { background-image: url('../img/footer/twitter.png'); }
            }
            &.facebook {
                background: url('../img/footer/facebook2.png') no-repeat center;
                &:hover { background-image: url('../img/footer/facebook.png'); }
            }
            &.instagram {
                background: url('../img/footer/instagram2.png') no-repeat center;
                &:hover { background-image: url('../img/footer/instagram.png'); }
            }
            &.linkedin {
                background: url('../img/footer/linkedin2.png') no-repeat center;
                &:hover { background-image: url('../img/footer/linkedin.png'); }
            }
        }
    }

    @media @tablet {
        text-align: center;
        a.footer-email, p.footer-tel { margin-left: 30px; }
    }

    @media @mobile {
        text-align: center;
        height: auto;
        margin-bottom: 30px;

        .centro { padding: 30px 0; }
        nav {
            a { height: auto; line-height: 1; }
        }
        a.footer-email, p.footer-tel {
            width: 100%;
            height: auto;
            display: block;
            text-align: center;
            line-height: 1.5;
            margin: 20px 0 0;
        }

        &.home {
            bottom: 0;
            a.footer-email, p.footer-tel {
                margin: 10px 0 0;
            }
        }

        &.mobile-horz {
            position: relative;
            margin-top: 150px;
        }
    }
}

.titulo {
    .zonapro(55px);
    color: #fff;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    @media @tablet { font-size: 50px; }
    @media @mobile { font-size: 44px; text-align: center; margin-top: 30px; }
}

.paginacao {
    position: relative;
    width: 100%;
    height: 15px;
    margin-top: 65px;
    padding-left: 165px;
    clear: both;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 7px;
        left: 0;
        width: 100%;
        height: 1px;
        background: #fff;
    }

    a {
        position: relative;
        z-index: 10;
        display: block;
        float: left;
        margin-right: 10px;
        width: 15px;
        height: 15px;
        text-indent: -9999px;
        border-radius: 15px;
        border: 1px solid #fff;
        background: @bege;
        transition: background .3s ease;
        &.active, &:hover {
            background: #fff;
        }
    }

    @media @tablet { padding-left: 20%; }

    @media @mobile {
        padding: 0;
        text-align: center;
        a {
            display: inline-block;
            float: none;
        }
    }
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: @marrom;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: @marrom;
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: @marrom;
   opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: @marrom;
}


/**
 -----------------------------------------------------------------------------------
 HOME
 -----------------------------------------------------------------------------------
 */

#slideshow {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    .slide {
        position: absolute;
        width: 100%;
        height: 100%;
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.slideshow-pager-wrapper {
    width: 100%;
    height: 15px;
    position: absolute;
    bottom: 100px;
    overflow: hidden;

    #slideshow-pager {
        width: 5000px;
        height: 15px;
        position: relative;
        padding-left: 165px;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background: #c6c0b9;
            position: absolute;
            top: 7px;
            left: 0;
        }

        a {
            position: relative;
            display: block;
            float: left;
            text-indent: -9999px;
            width: 15px;
            height: 15px;
            border-radius: 15px;
            margin-right: 10px;
            border: 1px solid #c6c0b9;
            transition: background .3s ease;
            background: @marrom;
            z-index: 10;
            &.cycle-pager-active {
                background: #c6c0b9;
            }
        }
    }

    @media @tablet {
        .centro { width: 100%; }
        #slideshow-pager {
            width: 100%;
            padding-left: 0;
            text-align: center;
            a {
                display: inline-block;
                float: none;
            }
        }
    }

    @media @mobile {
        display: none;
    }
}


/**
 -----------------------------------------------------------------------------------
 PERFIL
 -----------------------------------------------------------------------------------
 */

#perfil {
    .left {
        float: left;
        width: 640px;
        h1 {
            margin-bottom: 45px;
        }
        p {
            color: @marrom;
            .zonapro(14px);
            line-height: 1.7;
            margin: 0 0 30px 0;
        }
        h3 {
            margin: 30px 0;
            padding: 40px;
            border: 1px solid #fff;
            border-right: 1px solid transparent;
            color: @marrom;
            text-transform: uppercase;
            .zonapro(20px);
            line-height: 1.5;
            font-weight: normal;
        }
    }
    .right {
        float: right;
        width: 380px;
        text-align: center;
        img:first-child {
            margin-bottom: 30px;
        }
    }

    @media @tablet, @mobile {
        .left, .right { width: 100%; float: none; }
        .right {
            text-align: left;
            img:first-child { margin-bottom: 0; }
        }
    }

    @media @mobile {
        .right {
            text-align: center;
            img {
                margin-top: 20px;
                &:first-child {
                    margin: 0;
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}


/**
 -----------------------------------------------------------------------------------
 PROJETOS
 -----------------------------------------------------------------------------------
 */

#projetos {
    .projetos-categorias {
        height: 40px;
        margin: 45px 0 30px;
        a {
            display: block;
            width: 360px;
            height: 40px;
            float: left;
            border: 1px solid transparent;
            line-height: 40px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            .zonapro(13px);
            transition: border .3s ease;
            &.active {
                border-color: #fff;
            }
            &:hover {
                border-color: #fff !important;
            }
        }
    }

    .projetos-lista {
        .clearfix();
        a {
            display: block;
            width: 360px;
            height: 360px;
            position: relative;
            float: left;
            overflow: hidden;
            img { transition: all .2s ease; }
            &:hover img {
                filter: blur(2px);
                transform: scale(1.1);
            }
            .overlay {
                display: table;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(255,255,255,0.7);
                opacity: 0;
                transition: opacity .1s ease;
                padding: 50px;
                p {
                    display: table-cell;
                    height: 100%;
                    vertical-align: middle;
                    text-align: center;
                    .zonapro(18px);
                    color: @marrom;
                    text-transform: uppercase;
                    line-height: 1.5;
                }
            }
            &:hover .overlay { opacity: 1; }
        }
    }

    @media @tablet, @mobile {
        .projetos-categorias {
            height: auto;
            a {
                width: 100%;
                float: none;
            }
        }
        .projetos-lista {
            a {
                width: 50%;
                height: 100%;
                img { display: block; width: 100%; }
                .overlay {
                    display: block;
                    padding: 20%;
                    p { display: inline-block; }
                }
            }
        }
    }

    @media @mobile {
        .projetos-lista a {
            width: 100%;
            .overlay { display: none; }
            &:hover img {
                filter: blur(0);
                transform: scale(1);
            }
        }
    }
}


/**
 -----------------------------------------------------------------------------------
 PROJETOS E MOSTRAS (INTERNA)
 -----------------------------------------------------------------------------------
 */

#projetos-interna, #mostras-interna {
    h1 {
        margin-bottom: 45px;
    }
    .left {
        width: 690px;
        float: left;
        a {
            display: block;
            width: 690px;
            img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0;
            }
        }
    }
    .right {
        width: 340px;
        float: right;
        h3 {
            color: #fff;
            .zonapro(20px);
            margin: 0 0 20px;
            font-weight: normal;
            text-transform: uppercase;
        }
        p {
            color: @marrom;
            .zonapro(14px);
            line-height: 1.5;
        }

        a {
            display: block;
            height: 40px;
            width: 100%;
            line-height: 40px;
            margin-top: 60px;
            .zonapro(13px);
            color: @marrom;
            border: 1px solid #fff;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            transition: background .3s ease;
            &:hover {
                background: #fff;
            }
        }
    }

    .voltar-mobile { display: none; }

    @media @tablet {
        .left {
            width: 65%;
            a { width: 100%; }
        }
        .right {
            width: 30%;
            h3 { font-size: 18px; }
            p { font-size: 13px; }
            a {
                height: auto;
                line-height: 1.5;
                padding: 10px;
            }
        }
    }

    @media @mobile {
        .left {
            width: 100%;
            a { width: 100%; }
            float: none;
        }
        .right {
            width: 100%;
            float: none;
            text-align: center;
            h3 { font-size: 18px; }
            p { font-size: 13px; margin-bottom: 30px; }
            a { display: none; }
        }
        .voltar-mobile {
            display: block;
            width: 100%;
            line-height: 1.5;
            margin-top: 30px;
            .zonapro(13px);
            color: @marrom;
            border: 1px solid #fff;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px;
        }
    }
}


/**
 -----------------------------------------------------------------------------------
 MOSTRAS
 -----------------------------------------------------------------------------------
 */

 #mostras {
    h1 {
        margin-bottom: 45px;
    }
     .mostras-lista {
         .clearfix();
         a {
             display: block;
             width: 540px;
             height: 260px;
             position: relative;
             float: left;
             overflow: hidden;
             img { transition: all .2s ease; }
             &:hover img {
                 filter: blur(2px);
                 transform: scale(1.1);
             }
             .overlay {
                 display: table;
                 width: 100%;
                 height: 100%;
                 position: absolute;
                 top: 0;
                 left: 0;
                 background: rgba(255,255,255,0.7);
                 opacity: 0;
                 transition: opacity .1s ease;
                 padding: 70px;
                 p {
                     display: table-cell;
                     vertical-align: middle;
                     text-align: center;
                     .zonapro(18px);
                     color: @marrom;
                     text-transform: uppercase;
                     line-height: 1.5;
                 }
             }
             &:hover .overlay { opacity: 1; }
         }

        @media @tablet {
            a {
                width: 50%;
                height: 100%;
                img { display: block; width: 100%; }
                .overlay {
                    display: block;
                    padding: 8% 10%;
                    p { display: inline-block; }
                }
            }
        }

        @media @mobile {
            a {
                width: 100%;
                height: 100%;
                img { display: block; width: 100%; }
                .overlay { display: none; }
                &:hover img {
                    filter: blur(0);
                    transform: scale(1);
                }
            }
        }
    }
 }


/**
 -----------------------------------------------------------------------------------
 MÍDIA
 -----------------------------------------------------------------------------------
 */

#midia {
    nav {
        height: 18px;
        margin: 45px 0 30px;
        text-align: center;
        position: relative;
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 9px;
            background: #fff;
        }
        a {
            position: relative;
            z-index: 10;
            display: inline-block;
            height: 18px;
            background: transparent;
            padding: 0 20px;
            margin: 0 5px;
            .zonapro(13px);
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .3s ease;
            &.active {
                background: @bege;
                color: @marrom;
            }
            &:hover {
                background: @bege !important;
                color: @marrom !important;
            }
        }

        @media @mobile {
            height: auto;
            margin: 30px 0 30px;
            &:after { display: none; }
            a {
                display: block;
                width: 100%;
                height: 40px;
                float: none;
                border: 1px solid transparent;
                line-height: 40px;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
                text-align: center;
                .zonapro(13px);
                border-bottom: 1px solid rgba(255,255,255,0.2);
                border-top: 1px solid rgba(255,255,255,0.2);
                margin-top: -1px;
                &.active {
                    border: 1px solid #fff;
                    background: transparent !important;
                    z-index: auto;
                }
                &:hover {
                    background: transparent !important;
                }
            }
        }
    }

    .clipping-lista {
        .clearfix();
        a {
            display: block;
            width: 216px;
            height: 300px;
            position: relative;
            float: left;
            overflow: hidden;
            img { transition: all .2s ease; border: 1px solid @bege; }
            &:hover img {
                filter: blur(2px);
                transform: scale(1.1);
            }
            .overlay {
                display: table;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(255,255,255,0.7);
                opacity: 0;
                transition: opacity .1s ease;
                padding: 30px;
                p {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    .zonapro(18px);
                    color: @marrom;
                    text-transform: uppercase;
                    line-height: 1.5;
                }
            }
            &:hover .overlay { opacity: 1; }
        }
        .hidden-gallery { display: none !important; }

        @media @tablet {
            a {
                width: 33.333333333%;
                height: auto;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border: 0;
                }
                .overlay {
                    display: block;
                    padding: 30% 10%;
                    p { display: inline-block; }
                }
            }
        }

        @media @mobile {
            margin-top: 45px;
            a {
                width: 50%;
                height: auto;
                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    border: 0;
                }
                .overlay { display: none; }
                &:hover img {
                    filter: blur(0);
                    transform: scale(1);
                }
            }
        }
    }

    .materias-lista {
        a {
            display: block;
            border: 1px solid #fff;
            margin-top: -1px;
            text-decoration: none;
            padding: 40px;
            transition: background .3s ease;

            &:hover {
                background: #fff;
                h3 { color: @marrom; }
            }

            h3 {
                .zonapro(18px);
                color: #fff;
                text-transform: uppercase;
                margin: 0 0 15px;
                font-weight: normal;
                line-height: 1.5;
            }

            p {
                &.descricao {
                    color: @marrom;
                    .zonapro(14px);
                    line-height: 1.5;
                    margin: 0 0 40px;
                }

                &.materia-completa {
                    display: block;
                    height: 22px;
                    width: 550px;
                    line-height: 22px;
                    color: @bege;
                    text-align: center;
                    .zonapro(16px);
                    text-transform: uppercase;
                    margin: 0 auto;
                    position: relative;
                    &:before {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        z-index: 10;
                        width: 140px;
                        height: 1px;
                        background: @bege;
                        top: 11px;
                        left: 0;
                    }
                    &:after {
                        content: '';
                        display: inline-block;
                        position: absolute;
                        z-index: 10;
                        width: 140px;
                        height: 1px;
                        background: @bege;
                        top: 11px;
                        right: 0;
                    }
                }
            }
        }

        @media @mobile, @tablet {
            a {
                padding: 30px;
                &:hover {
                    background: @bege;
                    & h3 { color: #fff; }
                }
                h3 { font-size: 16px; }
                p {
                    font-size: 13px;
                    &.descricao { margin-bottom: 25px; }
                    &.materia-completa {
                        color: #fff;
                        font-size: 15px;
                        height: auto;
                        line-height: 1.5;
                        width: 100%;
                        &:before, &:after {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .videos-lista {
        .video {
            margin: 60px 0;
            padding: 0;
            position: relative;
            border-bottom: 1px solid #fff;
            .clearfix();
            iframe {
                float: left;
            }
            .video-info {
                width: 380px;
                float: right;
                h3 {
                    color: #fff;
                    text-transform: uppercase;
                    .zonapro(18px);
                    line-height: 1.5;
                    margin: 0 0 15px;
                    font-weight: normal;
                }
                p {
                    line-height: 1.5;
                }
            }

            @media @tablet, @mobile {
                .video-container {
                    position: relative;
                    padding-bottom: 56.25%;
                    padding-top: 30px; height: 0; overflow: hidden;
                    iframe, object, embed {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
                .video-info {
                    width: 100%;
                    margin: 30px 0;
                }
            }

            @media @mobile {
                margin: 40px 0;
                .video-info {
                    margin: 20px 0;
                    h3 { font-size: 16px; }
                    p { font-size: 13px; }
                }
            }
        }
    }
}


/**
 -----------------------------------------------------------------------------------
 CONTATO
 -----------------------------------------------------------------------------------
 */

#contato {
    h1 { margin-bottom: 45px; }
    form {
        width: 540px;
        float: left;

        @media @tablet, @mobile { width: 100%; float: none; }

        input[type='text'], input[type='email'], textarea {
            width: 100%;
            height: 40px;
            display: block;
            border: 1px solid #fff;
            background: transparent;
            margin-bottom: 10px;
            padding: 10px;
            outline: 0;
            color: @marrom;
        }

        textarea {
            height: 160px;
            resize: vertical;
        }

        .submit {
            margin-top: 10px;
            width: 150px;
            height: 20px;
            line-height: 20px;
            float: right;
            background: transparent;
            border: 0;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            color: @marrom;
            transition: color .3s ease;
            position: relative;
            .zonapro(13px);
            outline: 0;

            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                z-index: 10;
                width: 30px;
                height: 1px;
                background: #fff;
                top: 10px;
                left: 0;
            }
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                z-index: 10;
                width: 30px;
                height: 1px;
                background: #fff;
                top: 10px;
                right: 0;
            }

            &:hover {
                color: #fff;
            }
        }
    }

    .response {
        width: 540px;
        float: left;
        border: 1px solid #fff;
        padding: 40px;
        .zonapro(16px);
        color: @marrom;
        text-transform: uppercase;
        text-align: center;
        display: none;

        @media @mobile, @tablet { width: 100%; padding: 30px; }
    }

    .contato-info {
        width: 465px;
        float: right;
        margin-bottom: 60px;

        @media @tablet, @mobile { display: none; }

        .label {
            .zonapro(13px);
            color: @marrom;
            margin: 0 0 12px;
            text-transform: uppercase;
        }

        .telefone {
            .zonapro(50px);
            color: @marrom;
            margin: 0 0 40px;
            line-height: 1;
        }

        .email {
            display: inline-block;
            .zonapro(20px);
            color: @marrom;
            text-transform: uppercase;
            text-decoration: none;
            transition: color .3s ease;
            line-height: 1;
            margin: 0 0 70px;
            &:hover { color: #fff; }
        }

        nav {
            display: inline-block;
            a {
                height: 70px;
                width: 70px;
                display: inline-block;
                text-decoration: none;
                transition: all .3s ease;
                text-align: left;
                text-indent: -9999px;
                transition: background .3s ease;
                margin-right: 20px;
                &.twitter {
                    background: url('../img/contato/twitter2.png') no-repeat center;
                    &:hover { background-image: url('../img/contato/twitter.png'); }
                }
                &.facebook {
                    background: url('../img/contato/facebook2.png') no-repeat center;
                    &:hover { background-image: url('../img/contato/facebook.png'); }
                }
                &.instagram {
                    background: url('../img/contato/instagram2.png') no-repeat center;
                    &:hover { background-image: url('../img/contato/instagram.png'); }
                }
                &.linkedin {
                    background: url('../img/contato/linkedin2.png') no-repeat center;
                    &:hover { background-image: url('../img/contato/linkedin.png'); }
                }
            }
        }

    }
}


/**
 -----------------------------------------------------------------------------------
 BLOG
 -----------------------------------------------------------------------------------
 */

#blog {
    h1 { margin-bottom: 45px; }
    .blog-left {
        width: 690px;
        float: left;

        @media @tablet { width: 60%; }
        @media @mobile { width: 100%; }

        .blog-post {
            border-bottom: 1px solid rgba(255,255,255,0.25);
            padding-bottom: 30px;
            margin-bottom: 45px;
            h2 {
                margin: 0 0 10px;
                font-weight: normal;
                a {
                    text-decoration: none;
                    .zonapro(26px);
                    color: #fff;
                    transition: all .3s ease;
                    &:hover { color: @marrom; }
                    @media @mobile { font-size: 22px; }
                }
            }
            p {
                color: @marrom;
                &.post-info {
                    .zonapro(13px);
                    a {
                        text-decoration: none;
                        color: @marrom;
                        transition: all .3s ease;
                        &:hover { color: #fff; }
                    }
                }
                &.olho {
                    color: @marrom;
                    margin: 20px 0;
                    line-height: 1.7;
                }
                &.olho-interna {
                    border: 1px solid #fff;
                    border-right: 1px solid transparent;
                    padding: 20px;
                    .zonapro(16px);
                    margin: 20px 0 30px;
                }
                &.texto {
                    line-height: 1.7;
                }
            }
            a.leia-mais {
                display: block;
                margin-top: 15px;
                width: 160px;
                height: 20px;
                line-height: 20px;
                text-decoration: none;
                text-transform: uppercase;
                text-align: center;
                color: @marrom;
                transition: color .3s ease;
                position: relative;
                .zonapro(13px);
                outline: 0;

                &:before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    z-index: 10;
                    width: 30px;
                    height: 1px;
                    background: #fff;
                    top: 10px;
                    left: 0;
                }
                &:after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    z-index: 10;
                    width: 30px;
                    height: 1px;
                    background: #fff;
                    top: 10px;
                    right: 0;
                }

                &:hover {
                    color: #fff;
                }
            }
            img {
                width: 100%;
                height: auto;
                margin: 10px 0 0;
            }
        }

        .blog-paginacao, .blog-voltar {
            width: 100%;
            margin: 45px 0 50px;
            .clearfix();
            a {
                display: inline-block;
                color: @marrom;
                text-transform: uppercase;
                text-decoration: none;
                .zonapro(14px);
                transition: color .3s ease;
                &:hover { color: #fff; }
                &.anteriores { float: left; }
                &.proximos { float: right; }
            }
        }
    }

    .comentarios-lista {
        h4 {
            background: @marrom;
            color: #fff;
            padding: 20px;
            .zonapro(20px);
            font-weight: normal;
            margin: 0;
        }
        .comentario {
            border-bottom: 1px solid rgba(255,255,255,0.25);
            padding: 20px 0;
            p {
                margin: 0;
                line-height: 1.7;
                &.info {
                    color: #fff;
                    font-size: 13px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    #blog-comentario {
        border-bottom: 1px solid rgba(255,255,255,0.25);
        .clearfix();
        padding: 45px 0;
        input[type='text'], input[type='email'], textarea {
            width: 100%;
            height: 40px;
            display: block;
            border: 1px solid #fff;
            background: transparent;
            margin-bottom: 10px;
            padding: 10px;
            outline: 0;
            color: @marrom;
        }

        textarea {
            height: 160px;
            resize: vertical;
        }

        .submit {
            margin-top: 10px;
            width: 150px;
            height: 20px;
            line-height: 20px;
            float: right;
            background: transparent;
            border: 0;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            color: @marrom;
            transition: color .3s ease;
            position: relative;
            .zonapro(13px);
            outline: 0;

            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                z-index: 10;
                width: 30px;
                height: 1px;
                background: #fff;
                top: 10px;
                left: 0;
            }
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                z-index: 10;
                width: 30px;
                height: 1px;
                background: #fff;
                top: 10px;
                right: 0;
            }

            &:hover {
                color: #fff;
            }
        }
    }

    .sidebar {
        width: 300px;
        float: right;

        @media @tablet { width: 35%; }
        @media @mobile { display: none; }

        form {
            width: 100%;
            height: 48px;
            border: 1px solid #fff;
            position: relative;
            input[type='text'] {
                color: @marrom;
                outline: 0;
                border: 0;
                .zonapro(14px);
                width: 80%;
                padding-left: 15px;
                background: transparent;
                height: 48px;
                line-height: 48px;
            }
            input[type='submit'] {
                width: 15%;
                height: 48px;
                position: absolute;
                right: 0;
                top: 0;
                outline: 0;
                border: 0;
                text-indent: -9999px;
                background: url('../img/blog/busca-blog.png') no-repeat center;
                transition: background .3s ease;
                &:hover { background-image: url('../img/blog/busca-blog2.png'); }
            }
        }

        .sidebar-list {
            width: 100%;
            margin-top: 40px;
            h4 {
                margin: 0 0 5px 0;
                color: #fff;
                border: 1px solid #fff;
                border-right: 1px solid transparent;
                font-weight: normal;
                text-transform: uppercase;
                padding: 15px;
            }
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                li {
                    display: block;
                    padding: 12px 15px;
                    border-bottom: 1px solid rgba(255,255,255,0.25);
                    a {
                        text-decoration: none;
                        color: @marrom;
                        .zonapro(13px);
                        line-height: 1.7;
                        text-transform: uppercase;
                        transition: all .3s ease;
                        display: block;
                        &:hover {
                            color: #fff;
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}