// Colors

@marrom: #5c4f41;
@bege: #c0bab4;


// Fonts

@font-face {
    font-family: 'zonapro';
    src: url('fonts/zonapro.eot');
    src: url('fonts/zonapro.eot?#iefix') format('embedded-opentype'),
         url('fonts/zonapro.woff2') format('woff2'),
         url('fonts/zonapro.woff') format('woff'),
         url('fonts/zonapro.ttf') format('truetype'),
         url('fonts/zonapro.svg#zonapro') format('svg');
    font-weight: normal;
    font-style: normal;
}
.zonapro(@size: 12px) {
    font-family: 'zonapro', 'Helvetica', 'Arial', sans-serif;
    font-size: @size;
}


// Mixins

.clearfix() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


// Media Queries

@mobile: ~"only screen and (max-width: 679px)";
@tablet: ~"only screen and (min-width: 680px) and (max-width: 1129px)";


// Global

.centro {
    width: 1080px;
    margin: 0 auto;
    .clearfix();
    @media @tablet {
        width: 90%;
    }
    @media @mobile {
        width: 90%;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    .zonapro(14px);
    background: @bege;
}

::selection {
    background: @marrom;
    color: #fff;
}